a:link {text-decoration: none;color: #262626}
a:active {text-decoration: none;}
a:visited {text-decoration: none;color: #262626}
a:hover {text-decoration: underline;color: #B35067}

body {
	background: #DEDEDE url('imagens/fundo.png');
	font: bold 20px "Monaco","Courier New", monospace;
}

#principal {
	width: 900px;
}

#menu {
	background: #F7E0E0;
	color: #262626;
	padding: 20px;
	
}

.titulo {
	font: 15px "arial", "bold", sans-serif;
	color: #6D6C6C;
	padding: 10px;
}

div {
	background: white;
}

p {
	font: 14px "arial", "bold", sans-serif;
	color: black;
	background: white;
}

.borda {
	border: 20px solid #C09A9A;
	width: 640px;
	height: 425px;
}

.direitos {
	background-image: url("imagens/fundo.png");
	font: bold 12px "arial", "bold", sans-serif;
	text-align: center;
	padding: 20px;
}

.texto {
	font: 15px "arial", "bold", sans-serif;
	color: black;
	padding: 10px;
}



